<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SingleFileAuthorMapper">
  <resultMap id="BaseResultMap" type="mycat.bean.SingleFileAuthor">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="filepath" jdbcType="VARCHAR" property="filepath" />
    <result column="authorid" jdbcType="VARCHAR" property="authorid" />
    <result column="addline" jdbcType="INTEGER" property="addline" />
    <result column="deleteline" jdbcType="INTEGER" property="deleteline" />
    <result column="filetype" jdbcType="VARCHAR" property="filetype" />
  </resultMap>
  <insert id="insert" parameterType="mycat.bean.SingleFileAuthor">
    insert into single_file_author_tb (id, filepath, authorid, 
      addline, deleteline, filetype)
    values (#{id,jdbcType=INTEGER}, #{filepath,jdbcType=VARCHAR}, #{authorid,jdbcType=VARCHAR}, 
      #{addline,jdbcType=INTEGER}, #{deleteline,jdbcType=INTEGER}, #{filetype,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="mycat.bean.SingleFileAuthor">
    insert into single_file_author_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="filepath != null">
        filepath,
      </if>
      <if test="authorid != null">
        authorid,
      </if>
      <if test="addline != null">
        addline,
      </if>
      <if test="deleteline != null">
        deleteline,
      </if>
      <if test="filetype != null">
        filetype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="filepath != null">
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="authorid != null">
        #{authorid,jdbcType=VARCHAR},
      </if>
      <if test="addline != null">
        #{addline,jdbcType=INTEGER},
      </if>
      <if test="deleteline != null">
        #{deleteline,jdbcType=INTEGER},
      </if>
      <if test="filetype != null">
        #{filetype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>