.el-breadcrumb {
  background-color: #D3DCE6;
  height: 45px;
  font-size: 15px;
  padding-left: 10px;
  line-height: 45px;
  margin-bottom: 15px;
}

.el-input--suffix .el-input__inner {
  padding-right: 0px;
}

.el-input__inner {
  // width:140px;
  padding: 0 10px;
}

.page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
