<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoperun.mapper.ExamMapper">
  <resultMap id="BaseResultMap" type="com.hoperun.domain.Exam">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COL_EXAM_NAME" jdbcType="VARCHAR" property="colExamName" />
    <result column="COL_EXAM_DESC" jdbcType="VARCHAR" property="colExamDesc" />
    <result column="COL_SUBJECT_DB_ID" jdbcType="INTEGER" property="colSubjectDbId" />
    <result column="COL_OPEN_TIME" jdbcType="BIGINT" property="colOpenTime" />
    <result column="COL_CLOSE_TIME" jdbcType="BIGINT" property="colCloseTime" />
    <result column="COL_TOTAL_SCORE" jdbcType="INTEGER" property="colTotalScore" />
    <result column="COL_PASS_SCORE" jdbcType="INTEGER" property="colPassScore" />
    <result column="COL_DURATION" jdbcType="INTEGER" property="colDuration" />
    <result column="COL_LIMIT_COUNT" jdbcType="INTEGER" property="colLimitCount" />
    <result column="COL_PUBLISH" jdbcType="INTEGER" property="colPublish" />
    <result column="COL_CREATE_TIME" jdbcType="BIGINT" property="colCreateTime" />
    <result column="COL_UPDATE_TIME" jdbcType="BIGINT" property="colUpdateTime" />
    <result column="COL_CREATOR_ID" jdbcType="CHAR" property="colCreatorId" />
    <result column="COL_UPDATE_ID" jdbcType="CHAR" property="colUpdateId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COL_EXAM_NAME, COL_EXAM_DESC, COL_SUBJECT_DB_ID, COL_OPEN_TIME, COL_CLOSE_TIME, 
    COL_TOTAL_SCORE, COL_PASS_SCORE, COL_DURATION, COL_LIMIT_COUNT, COL_PUBLISH, COL_CREATE_TIME, 
    COL_UPDATE_TIME, COL_CREATOR_ID, COL_UPDATE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_exam
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 查询所有考试 -->
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_exam
    where 1=1
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_exam
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hoperun.domain.Exam">
    insert into tb_exam (ID, COL_EXAM_NAME, COL_EXAM_DESC, 
      COL_SUBJECT_DB_ID, COL_OPEN_TIME, COL_CLOSE_TIME, 
      COL_TOTAL_SCORE, COL_PASS_SCORE, COL_DURATION, 
      COL_LIMIT_COUNT, COL_PUBLISH, COL_CREATE_TIME, 
      COL_UPDATE_TIME, COL_CREATOR_ID, COL_UPDATE_ID
      )
    values (#{id,jdbcType=INTEGER}, #{colExamName,jdbcType=VARCHAR}, #{colExamDesc,jdbcType=VARCHAR}, 
      #{colSubjectDbId,jdbcType=INTEGER}, #{colOpenTime,jdbcType=BIGINT}, #{colCloseTime,jdbcType=BIGINT}, 
      #{colTotalScore,jdbcType=INTEGER}, #{colPassScore,jdbcType=INTEGER}, #{colDuration,jdbcType=INTEGER}, 
      #{colLimitCount,jdbcType=INTEGER}, #{colPublish,jdbcType=INTEGER}, #{colCreateTime,jdbcType=BIGINT}, 
      #{colUpdateTime,jdbcType=BIGINT}, #{colCreatorId,jdbcType=CHAR}, #{colUpdateId,jdbcType=CHAR}
      )
  </insert>
  
  
  <!-- 查询生成的examid -->
  <select id="selectCreateExamid" parameterType="com.hoperun.domain.Exam" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" /> 
    from tb_exam
    where 1=1 and 
    <trim prefix=" " suffix=" " suffixOverrides="and">
    <if test="colExamName != null">
        COL_EXAM_NAME = #{colExamName,jdbcType=VARCHAR} and 
      </if>
      <if test="colExamDesc != null">
        COL_EXAM_DESC = #{colExamDesc,jdbcType=VARCHAR} and 
      </if>
      <if test="colSubjectDbId != null">
        COL_SUBJECT_DB_ID = #{colSubjectDbId,jdbcType=INTEGER} and 
      </if>
      <if test="colOpenTime != null">
        COL_OPEN_TIME = #{colOpenTime,jdbcType=BIGINT} and 
      </if>
      <if test="colCloseTime != null">
        COL_CLOSE_TIME = #{colCloseTime,jdbcType=BIGINT} and 
      </if>
      <if test="colTotalScore != null">
        COL_TOTAL_SCORE = #{colTotalScore,jdbcType=INTEGER} and 
      </if>
      <if test="colPassScore != null">
        COL_PASS_SCORE = #{colPassScore,jdbcType=INTEGER} and 
      </if>
      <if test="colDuration != null">
        COL_DURATION = #{colDuration,jdbcType=INTEGER} and 
      </if>
      <if test="colLimitCount != null">
        COL_LIMIT_COUNT = #{colLimitCount,jdbcType=INTEGER} and 
      </if>
      <if test="colPublish != null">
        COL_PUBLISH = #{colPublish,jdbcType=INTEGER} and 
      </if>
      <if test="colCreateTime != null">
        COL_CREATE_TIME = #{colCreateTime,jdbcType=BIGINT} and 
      </if>
      <if test="colUpdateTime != null">
        COL_UPDATE_TIME = #{colUpdateTime,jdbcType=BIGINT} and 
      </if>
      <if test="colCreatorId != null">
        COL_CREATOR_ID = #{colCreatorId,jdbcType=CHAR} and 
      </if>
      <if test="colUpdateId != null">
        COL_UPDATE_ID = #{colUpdateId,jdbcType=CHAR} and 
      </if>
    </trim>
  </select>
  
  
  <insert id="insertSelective"  keyProperty="id" useGeneratedKeys="true" parameterType="com.hoperun.domain.Exam">
    insert into tb_exam
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="colExamName != null">
        COL_EXAM_NAME,
      </if>
      <if test="colExamDesc != null">
        COL_EXAM_DESC,
      </if>
      <if test="colSubjectDbId != null">
        COL_SUBJECT_DB_ID,
      </if>
      <if test="colOpenTime != null">
        COL_OPEN_TIME,
      </if>
      <if test="colCloseTime != null">
        COL_CLOSE_TIME,
      </if>
      <if test="colTotalScore != null">
        COL_TOTAL_SCORE,
      </if>
      <if test="colPassScore != null">
        COL_PASS_SCORE,
      </if>
      <if test="colDuration != null">
        COL_DURATION,
      </if>
      <if test="colLimitCount != null">
        COL_LIMIT_COUNT,
      </if>
      <if test="colPublish != null">
        COL_PUBLISH,
      </if>
      <if test="colCreateTime != null">
        COL_CREATE_TIME,
      </if>
      <if test="colUpdateTime != null">
        COL_UPDATE_TIME,
      </if>
      <if test="colCreatorId != null">
        COL_CREATOR_ID,
      </if>
      <if test="colUpdateId != null">
        COL_UPDATE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="colExamName != null">
        #{colExamName,jdbcType=VARCHAR},
      </if>
      <if test="colExamDesc != null">
        #{colExamDesc,jdbcType=VARCHAR},
      </if>
      <if test="colSubjectDbId != null">
        #{colSubjectDbId,jdbcType=INTEGER},
      </if>
      <if test="colOpenTime != null">
        #{colOpenTime,jdbcType=BIGINT},
      </if>
      <if test="colCloseTime != null">
        #{colCloseTime,jdbcType=BIGINT},
      </if>
      <if test="colTotalScore != null">
        #{colTotalScore,jdbcType=INTEGER},
      </if>
      <if test="colPassScore != null">
        #{colPassScore,jdbcType=INTEGER},
      </if>
      <if test="colDuration != null">
        #{colDuration,jdbcType=INTEGER},
      </if>
      <if test="colLimitCount != null">
        #{colLimitCount,jdbcType=INTEGER},
      </if>
      <if test="colPublish != null">
        #{colPublish,jdbcType=INTEGER},
      </if>
      <if test="colCreateTime != null">
        #{colCreateTime,jdbcType=BIGINT},
      </if>
      <if test="colUpdateTime != null">
        #{colUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="colCreatorId != null">
        #{colCreatorId,jdbcType=CHAR},
      </if>
      <if test="colUpdateId != null">
        #{colUpdateId,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoperun.domain.Exam">
    update tb_exam
    <set>
      <if test="colExamName != null">
        COL_EXAM_NAME = #{colExamName,jdbcType=VARCHAR},
      </if>
      <if test="colExamDesc != null">
        COL_EXAM_DESC = #{colExamDesc,jdbcType=VARCHAR},
      </if>
      <if test="colSubjectDbId != null">
        COL_SUBJECT_DB_ID = #{colSubjectDbId,jdbcType=INTEGER},
      </if>
      <if test="colOpenTime != null">
        COL_OPEN_TIME = #{colOpenTime,jdbcType=BIGINT},
      </if>
      <if test="colCloseTime != null">
        COL_CLOSE_TIME = #{colCloseTime,jdbcType=BIGINT},
      </if>
      <if test="colTotalScore != null">
        COL_TOTAL_SCORE = #{colTotalScore,jdbcType=INTEGER},
      </if>
      <if test="colPassScore != null">
        COL_PASS_SCORE = #{colPassScore,jdbcType=INTEGER},
      </if>
      <if test="colDuration != null">
        COL_DURATION = #{colDuration,jdbcType=INTEGER},
      </if>
      <if test="colLimitCount != null">
        COL_LIMIT_COUNT = #{colLimitCount,jdbcType=INTEGER},
      </if>
      <if test="colPublish != null">
        COL_PUBLISH = #{colPublish,jdbcType=INTEGER},
      </if>
      <if test="colCreateTime != null">
        COL_CREATE_TIME = #{colCreateTime,jdbcType=BIGINT},
      </if>
      <if test="colUpdateTime != null">
        COL_UPDATE_TIME = #{colUpdateTime,jdbcType=BIGINT},
      </if>
      <if test="colCreatorId != null">
        COL_CREATOR_ID = #{colCreatorId,jdbcType=CHAR},
      </if>
      <if test="colUpdateId != null">
        COL_UPDATE_ID = #{colUpdateId,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoperun.domain.Exam">
    update tb_exam
    set COL_EXAM_NAME = #{colExamName,jdbcType=VARCHAR},
      COL_EXAM_DESC = #{colExamDesc,jdbcType=VARCHAR},
      COL_SUBJECT_DB_ID = #{colSubjectDbId,jdbcType=INTEGER},
      COL_OPEN_TIME = #{colOpenTime,jdbcType=BIGINT},
      COL_CLOSE_TIME = #{colCloseTime,jdbcType=BIGINT},
      COL_TOTAL_SCORE = #{colTotalScore,jdbcType=INTEGER},
      COL_PASS_SCORE = #{colPassScore,jdbcType=INTEGER},
      COL_DURATION = #{colDuration,jdbcType=INTEGER},
      COL_LIMIT_COUNT = #{colLimitCount,jdbcType=INTEGER},
      COL_PUBLISH = #{colPublish,jdbcType=INTEGER},
      COL_CREATE_TIME = #{colCreateTime,jdbcType=BIGINT},
      COL_UPDATE_TIME = #{colUpdateTime,jdbcType=BIGINT},
      COL_CREATOR_ID = #{colCreatorId,jdbcType=CHAR},
      COL_UPDATE_ID = #{colUpdateId,jdbcType=CHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>