<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoperun.mapper.ExamAccountMapper">
  <resultMap id="BaseResultMap" type="com.hoperun.domain.ExamAccount">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="COL_EXAM_ID" jdbcType="INTEGER" property="colExamId" />
    <result column="COL_ACCOUNT_ID" jdbcType="CHAR" property="colAccountId" />
    <result column="COL_PARER_COUNT" jdbcType="INTEGER" property="colParerCount" />
    <result column="COL_LIMIT_COUNT" jdbcType="INTEGER" property="colLimitCount" />
    <result column="COL_IS_PASS" jdbcType="INTEGER" property="colIsPass" />
    <result column="COL_CREATOR_ID" jdbcType="CHAR" property="colCreatorId" />
    <result column="COL_CREATE_TIME" jdbcType="BIGINT" property="colCreateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, COL_EXAM_ID, COL_ACCOUNT_ID, COL_PARER_COUNT, COL_LIMIT_COUNT, COL_IS_PASS, COL_CREATOR_ID, 
    COL_CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_exam_account
    where ID = #{id,jdbcType=INTEGER}
  </select>
  
  <!-- 通过accountid查询所有考试 -->
  <select id="selectByAccountId" parameterType="java.util.Map" resultType="com.hoperun.domain.ExamAll">
    select 
    t.COL_EXAM_ID as colExamId, t.COL_PARER_COUNT as colParerCount, t.COL_LIMIT_COUNT as colLimitCount,  
    t.COL_IS_PASS as colIsPass, f.COL_EXAM_NAME as colExamName, f.COL_EXAM_DESC as colExamDesc, 
    f.COL_OPEN_TIME as colOpenTime, f.COL_CLOSE_TIME as colCloseTime, f.COL_DURATION as colDuration,  
    f.COL_TOTAL_SCORE as colTotalScore, f.COL_PASS_SCORE as colPassScore, f.COL_SUBJECT_DB_ID as colSubjectDbId
    from tb_exam_account t, tb_exam f
    where t.COL_ACCOUNT_ID = #{accountId,jdbcType=CHAR} and t.COL_PARER_COUNT = #{parerCount,jdbcType=INTEGER} and t.COL_EXAM_ID = f.ID
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_exam_account
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hoperun.domain.ExamAccount">
    insert into tb_exam_account (ID, COL_EXAM_ID, COL_ACCOUNT_ID, 
      COL_PARER_COUNT, COL_LIMIT_COUNT, COL_IS_PASS, 
      COL_CREATOR_ID, COL_CREATE_TIME)
    values (#{id,jdbcType=INTEGER}, #{colExamId,jdbcType=INTEGER}, #{colAccountId,jdbcType=CHAR}, 
      #{colParerCount,jdbcType=INTEGER}, #{colLimitCount,jdbcType=INTEGER}, #{colIsPass,jdbcType=INTEGER}, 
      #{colCreatorId,jdbcType=CHAR}, #{colCreateTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.hoperun.domain.ExamAccount">
    insert into tb_exam_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="colExamId != null">
        COL_EXAM_ID,
      </if>
      <if test="colAccountId != null">
        COL_ACCOUNT_ID,
      </if>
      <if test="colParerCount != null">
        COL_PARER_COUNT,
      </if>
      <if test="colLimitCount != null">
        COL_LIMIT_COUNT,
      </if>
      <if test="colIsPass != null">
        COL_IS_PASS,
      </if>
      <if test="colCreatorId != null">
        COL_CREATOR_ID,
      </if>
      <if test="colCreateTime != null">
        COL_CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="colExamId != null">
        #{colExamId,jdbcType=INTEGER},
      </if>
      <if test="colAccountId != null">
        #{colAccountId,jdbcType=CHAR},
      </if>
      <if test="colParerCount != null">
        #{colParerCount,jdbcType=INTEGER},
      </if>
      <if test="colLimitCount != null">
        #{colLimitCount,jdbcType=INTEGER},
      </if>
      <if test="colIsPass != null">
        #{colIsPass,jdbcType=INTEGER},
      </if>
      <if test="colCreatorId != null">
        #{colCreatorId,jdbcType=CHAR},
      </if>
      <if test="colCreateTime != null">
        #{colCreateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hoperun.domain.ExamAccount">
    update tb_exam_account
    <set>
      <if test="colExamId != null">
        COL_EXAM_ID = #{colExamId,jdbcType=INTEGER},
      </if>
      <if test="colAccountId != null">
        COL_ACCOUNT_ID = #{colAccountId,jdbcType=CHAR},
      </if>
      <if test="colParerCount != null">
        COL_PARER_COUNT = #{colParerCount,jdbcType=INTEGER},
      </if>
      <if test="colLimitCount != null">
        COL_LIMIT_COUNT = #{colLimitCount,jdbcType=INTEGER},
      </if>
      <if test="colIsPass != null">
        COL_IS_PASS = #{colIsPass,jdbcType=INTEGER},
      </if>
      <if test="colCreatorId != null">
        COL_CREATOR_ID = #{colCreatorId,jdbcType=CHAR},
      </if>
      <if test="colCreateTime != null">
        COL_CREATE_TIME = #{colCreateTime,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hoperun.domain.ExamAccount">
    update tb_exam_account
    set COL_EXAM_ID = #{colExamId,jdbcType=INTEGER},
      COL_ACCOUNT_ID = #{colAccountId,jdbcType=CHAR},
      COL_PARER_COUNT = #{colParerCount,jdbcType=INTEGER},
      COL_LIMIT_COUNT = #{colLimitCount,jdbcType=INTEGER},
      COL_IS_PASS = #{colIsPass,jdbcType=INTEGER},
      COL_CREATOR_ID = #{colCreatorId,jdbcType=CHAR},
      COL_CREATE_TIME = #{colCreateTime,jdbcType=BIGINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>